html, body{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #f3ffef;
    display: grid;
    justify-content: center;
    align-content: center;
}
.ludo{
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    border: 5px solid #404040;
    border-radius: 3%;
    box-sizing: border-box;
}

/* @media only screen and (max-width: 600px) {

    .ludo{
        position: absolute;
        width: 100%;
        padding-bottom: 100%;
    }

} */

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 5%;
    box-sizing: border-box;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}
.item-1{
    position: relative;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: blue;
    border-top-left-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-2{
    grid-column: 3/4;
    grid-row: 1/3;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.item-3{
    position: relative;
    grid-column: 4/6;
    grid-row: 1/3;
    background-color: red;
    border-top-right-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-4{
    grid-column: 1/3;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
.item-5{
    position: relative;
    grid-column: 3/4;
    grid-row: 3/4;
}
.item-6{
    grid-column: 4/6;
    grid-row: 3/4;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
.item-7{
    position: relative;
    grid-column: 1/3;
    grid-row: 4/6;
    background-color: yellow;
    border-bottom-left-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-8{
    grid-column: 3/4;
    grid-row: 4/6;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.item-9{
    position: relative;
    grid-column: 4/6;
    grid-row: 4/6;
    background-color: green;
    border-bottom-right-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items-yellow{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}
.items-green{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}
.items-red{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}
.items-blue{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 5%;
    background-color: rgb(255, 255, 255);

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
}

.guti-box{
    width: 50%;
    height: 50%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.white-box {
    position: relative;
    border: 1px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.guti-wrapper {
    width: 10%; /* Set the width to 25% for 4 boxes per row */
    height: 10%;
    box-sizing: border-box; /* Include padding and border in the width */
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.guti-red {
    position: absolute;
    height: 900%;
    width: 900%;
    border-radius: 50%;
    background: rgba(121, 0, 0, 0.5);
    border: 1px solid #520000;
}
.guti-green {
    position: absolute;
    height: 900%;
    width: 900%;
    border-radius: 50%;
    background: rgba(0, 148, 0, 0.7);
    border: 1px solid #004f00;
}

.guti-blue {
    position: absolute;
    height: 900%;
    width: 900%;
    border-radius: 50%;
    background: rgba(0, 0, 255, 0.7);
    border: 1px solid #00003a;
}

.guti-yellow {
    position: absolute;
    height: 900%;
    width: 900%;
    border-radius: 50%;
    background: rgba(255, 234, 0, 0.7);
    border: 1px solid #000000;
}
.finishbox-red{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: red;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.finishbox-yellow{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: yellow;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-top: 50%;
}
.finishbox-blue{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: blue;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.finishbox-green{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: green;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    margin-left: 50%;
}
.star{
    transform: translate(50%, 50%);
    height: 50%;
    width: 50%;
    background-color: #969696;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}